# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Electron Build
dist/
out/
release/
build/

# Environment
.env
update.bat

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store